/* styles.css */ 
* {
    font-family: 'Quicksand', sans-serif;
    color: white;
}

body {
    background: url('../../images/girl-with-pose.jpg') no-repeat center fixed; 
    background-size: cover; 
}

.container {
    padding: 0px;
}
/* typography */

div {
    color: black; 
}

div.modal-header,
div.modal-body, 
div.modal-footer {
    color: black; 
}

.icon-bar {
    background-color: white;
}

.dropdown #navbarDropdownMenuLink  {
    color: white; 
}
.dropdown #navbarDropdownMenuLink:hover  {
    color: white;
}

a,
a.navbar-brand:link, 
a.navbar-brand:visited, 
a.navbar-brand:hover,
a.nav-link:link, 
a.nav-link:visited, 
a.nav-link:hover {
    color: white;
    padding: 0 0 5px 0; 
    
}

.navbar-toggler:link,
.navbar-toggler:visited,
.navbar-toggler:hover {
    color: white; 
    text-decoration: underline;
}

.dropdown-menu {
    background-color: transparent; 
    border: none; 
}

a.dropdown-item {
    color: white;
}

a.underline-hover-effect {
    text-decoration: none; 
    color: inherit; 
}

a.underline-hover-effect {
    display: inline-block;
    padding-bottom: 0.10rem; /* space between text and underline */
    position: relative;
  }
  
a.underline-hover-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: width 0.25s ease-out;
  }
  .underline-hover-effect:hover::before {
    width: 100%;
  }

  
p {
    color:rgb(178, 196, 207)
}

.align-self-end {
    color: white;
}

/* button */

.btn.btn-outline-light {
    padding: 15px;
    display: inline;
    margin: 10px 0px;
}

button#login {
    background-color: rgb(211, 145, 83);
}

/* layout */
.navbar-brand {
    padding: 2px;
}

.btn {
    width: 100%; 
}

.btn.btn-outline-light {
    padding: 15px; 
    display: inline-block; 
    margin-right: 10px;
}

/* modal */ 

/* .modal-header {
    padding: 1% 0 1% 44%; 
} */
.modal-body {
    padding: 20px 40px; 
}
.modal-header .btn-close {
    padding: 0.5rem 0.5rem;
    margin: 0;
}

/* media queries */ 

/* Portrait & landscape phone */

@media (max-width: 425px) {
    .row {
        overflow-x: hidden; 
    }
    .container {
        width: 100%;
    }
} 

@media (max-width: 576px) {
    .row {
        overflow-x: hidden; 
    }

    /* .container {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: none;
    margin-left: none;
    } */


} 

@media (max-width: 768px) {
    
    .col-sm-6 {
        width: 0; 
        display: none;
        visibility: hidden;
    }
    .btn.btn-outline-light {
        margin-bottom: 10px;
        width: 100%; 
    }

}

@media (max-width: 998px) {
    .col {
        flex: none; 
    }
}